<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }} - Vanadium Docs</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-tomorrow.min.css"
    />
    <header>
      <h1><a href="/">Vanadium</a></h1>
      <nav>
        <a href="/docs/">Docs</a>
        <!--<a href="/content/spec/">Spec</a>-->
        <a href="/reference/">Standard Library</a>
        <a href="/blog/">Blog</a>
      </nav>
    </header>

    <main class="doc">
      <h2>{{ title }}</h2>
      {{ content | safe }}
    </main>

    <nav class="sidebar">
      <h3 style="padding-left: 1rem"><a href="/docs/">Homepage</a></h3>
      <hr />
      <ul>
        {% for sectionName in collections.doc_sections %}
        <li>
          <h3 class="doc-section-header">{{ sectionName }}</h3>
          <ul>
            {% for page in collections.docs %} {% if page.data.parent ==
            sectionName and page.data.show %}
            <li style="padding-left: 10px">
              <a href="{{ page.url }}">{{ page.data.title }}</a>
            </li>
            {% endif %} {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <footer>
      <p>Doc last update: {{ page.date | readableDate }}</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="/assets/js/vanadium-prism.js"></script>
  </body>
</html>
